@font-face {
    font-family: "Hellix";
    src: url("../fonts/Hellix-Regular.woff2");
    font-weight: 400;
}
@font-face {
    font-family: "Hellix";
    src: url("../fonts/Hellix-Bold.woff2");
    font-weight:700;
}
@font-face {
    font-family: "Hellix";
    src: url("../fonts/Hellix-Medium.woff2");
    font-weight: 500;
}
@font-face {
    font-family: "Hellix";
    src: url("../fonts/Hellix-SemiBold.woff2");
    font-weight: 600;
}

@font-face {
    font-family: "Hellix";
    src: url("../fonts/Hellix-Light.woff2");
    font-weight: 300;
}

*, *::after, *::before {
  box-sizing:border-box;
  margin: 0;
  padding: 0;  
}


:root{
--huisstijl_background: #f8f8f8;
--Huisstijl_font: black; 
--FontKleur_v_foto: #ffffff;
--nav_bcolor: #EAEEF0;
}



h1, h2, p {
    color: var(--FontKleur_v_foto)
}
body {
    font-family: "Hellix";
}
div img{
   position: relative;
   max-width: 2em;
   color: var(--FontKleur_v_foto);
    
}

header nav{
    position: fixed;
    inset: 0;
    background-color: #EAEEF0;
    transform: translateX(100%);
    transition: .25s ease;
    

    & a{
        color: black;
        text-decoration: none;
        list-style: none;
    }
}

header nav.open{
    transform: translateX(0%);
}

