@font-face {
    font-family: "Hellix";
    src: url("../fonts/Hellix-Regular.woff2") format('woff2');
    font-weight: 400;
}
@font-face {
    font-family: "Hellix";
    src: url("../fonts/Hellix-Bold.woff2") format('woff2');
    font-weight:700;
}
@font-face {
    font-family: "Hellix";
    src: url("../fonts/Hellix-Medium.woff2") format('woff2');
    font-weight: 500;
}
@font-face {
    font-family: "Hellix";
    src: url("../fonts/Hellix-SemiBold.woff2") format('woff2');
    font-weight: 600;
}

@font-face {
    font-family: "Hellix";
    src: url("../fonts/Hellix-Light.woff2") format('woff2');
    font-weight: 300;
}

/* button{
    background: none;
    border: none;
        display: flex;
    justify-content: space-between;
    height: 1.5em;
    fill: var(--FontKleur_v_foto);
    
} */


:root{
--huisstijl_background: #f8f8f8;
--Huisstijl_font: black; 
--FontKleur_v_foto: #ffffff;
--nav_bcolor: #EAEEF0;
}

/* button{
    position: absolute;
} */


body, html {
    font-family: "Hellix";
    overflow-x: hidden;
    box-sizing:border-box;
    margin: 0;
    padding: 0;  
}

main section:first-of-type {
  position: relative;  
  height: 80svh;       
}

header{
    width: 100%;
    z-index: 4;
    position: absolute;
    top: 0;
}

button{
 border: none;
 background-color: none;
 
}

header svg{
    width: 1.5em;
    height: auto;
    fill: var(--nav_bcolor);
}
 
header > svg:nth-of-type(1){
     width: 4em;
    height: auto;
    display: flex;
}

header  > ul > li:nth-of-type(3) svg {
  display: flex;
  flex-grow: 10em;
    width: 5em;
    height: auto;
flex-grow: 1;

}


header  > ul:nth-of-type(1) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    list-style: none;
    padding: 0 5%;
    margin: 0;

}


header nav{
    position: fixed;
    inset: 0;
    
    transform: translateX(100%);
    transition: .25s ease;
    background-color: var(--nav_bcolor);

    & a{
        color: var(--Huisstijl_font);
        text-decoration: none;
        list-style: none;
    }
}

header nav.open{
    transform: translateX(0%);
    background-color: var(--FontKleur_v_foto);
}

