

main section:first-of-type {
  position: relative;  
  height: 100vh;       
}





video {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}



section:first-of-type h2,
section:first-of-type p,
section:first-of-type a {
  position: relative;
  text-align: center;
  top: 50%;
  color: var(--FontKleur_v_foto);
  display: block;
}


section:nth-of-type(2) {
    position: relative;
  text-align: center;
  display: block;
}

section > img:first-of-type {
  max-width: 2em; 
 
}

section:nth-of-type(2) > article:nth-of-type(1) {
  position:relative;
}

section:nth-of-type(2) > article:nth-of-type(1) h2 {
  position:absolute;
  color: var(--FontKleur_v_foto);
  font-weight: 200;
  z-index: 1;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
  
}


article img{
object-fit: stretch;
    width: 96%;
    position: relative;
  left: 2%;

}



