

main section:first-of-type {
  position: relative;  
  height: 100vh;       
}





video {
    position: absolute;
    /* width: 100%; */
    inset: 0;
    z-index: -1;
    object-fit: cover;
}



section:first-of-type h2,
section:first-of-type p,
section:first-of-type a {
  position: relative;
  text-align: center;
  top: 50%;
  color: var(--FontKleur_v_foto);
  display: block;
}
/* 
section:first-of-type p{
  order: -1;
} */




section > img:first-of-type {
  max-width: 2em; 
}
article{
    display: grid;
     
}

article h2{
    z-index: 1;
    display: grid;
    grid-row-start: 1;
    align-self: end;
    
}
article img{
object-fit: stretch;
    width: 96%;
    position: relative;
  left: 2%;

}



