


header{
    width: 100%;
   z-index: 2;
    position: absolute;
    top: 0;
}


video {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(60%);

}

main > section:first-of-type {
   display: flex;           
  flex-direction: column;
  position: relative;  
  height: 80vh;  
    
}
main > section:first-of-type > p {
  font-family: Hellix;
  font-weight: 200;
  font-size: 1em;
  order: -1;
  z-index: 2;
}
main > section:first-of-type > a{
  font-family: Hellix;
  font-weight: 100;
  z-index: 2;
}

main > section:first-of-type > H2{
  font-family: dior4;
  font-weight: 100;
  z-index: 2;
}

main section:first-of-type h2,
main section:first-of-type p,
main section:first-of-type a {
  position: relative;
  text-align: center;
  top: 50%;
  color: var(--tekst_video);
  display: block;
  margin: 0;
}


main section:nth-of-type(2) {
  background-color: var(--);
  color: var(--tusentekst);
  display: flex;
  flex-direction: column; 
  align-items: center;
  gap: 2em;
  text-align: center;



  @media (width > 10em)  {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

main section:nth-of-type(2) > img:first-of-type,
main section:nth-of-type(2) > p:first-of-type {
  order: 0; /* bovenaan */
  width: 100%;
}

section > img:first-of-type {
  max-width: 2em; 
  position: relative;
 top:1em;
}

main section:nth-of-type(2) > article{
  position: relative;
  width: 100%;
  max-width: 20em;

}

main section:nth-of-type(2) article > img{
filter: brightness(60%);
}

/* voor de tekst van de aticles */

main section:nth-of-type(2) > article:nth-of-type(1),
main section:nth-of-type(2) > article:nth-of-type(2),
main section:nth-of-type(2) > article:nth-of-type(3),
main section:nth-of-type(2) > article:nth-of-type(4),
main section:nth-of-type(2) > article:nth-of-type(5),
main section:nth-of-type(2) > article:nth-of-type(6) {
  position:relative;
}

main section:nth-of-type(2) > article:nth-of-type(1) h2,
main section:nth-of-type(2) > article:nth-of-type(2) h2,
main section:nth-of-type(2) > article:nth-of-type(3) h2,
main section:nth-of-type(2) > article:nth-of-type(4) h2,
main section:nth-of-type(2) > article:nth-of-type(5) h2,
main section:nth-of-type(2) > article:nth-of-type(6) h2 {
  position:absolute;
        color: var(--tekst_fotos);
  font-family: dior4;
  font-weight: 100;
  font-size: 1.7em;
  z-index: 1;
  bottom: 1em;
  left: 1em;
  right: 1em;
  
}

main section:nth-of-type(2) > article:nth-of-type(1) h2:hover{
  text-decoration: underline;
}


article img{
    width: 96%;
 
}


main a:hover{
  text-decoration: none;
}

main section:nth-of-type(2) > img:first-of-type,
main section:nth-of-type(2) > p:first-of-type {
  display: block;
  text-align: center;
}




