

main section:first-of-type {
  position: relative;  
  height: 100vh;       
}

nav{
    order:-1;
}

video {
    position: absolute;
    width: 100%;
 inset: 0;
    z-index: -1;
    object-fit: cover;
}



section:first-of-type h2,
section:first-of-type p,
section:first-of-type a {
  position: relative;
  text-align: center;
  color: var(--FontKleur_v_foto);
  display: block;
}

header {
display:flex;
  justify-content:space-between;

}


section > img:first-of-type {
  max-width: 2em; 
}



